.header-projects {
  text-align: center;
  color: #fff;
}

.header-projects h1 {
  margin: 50px 0;
  font-family: "Source Code Pro", monospace;
  font-size: 5rem;
  text-transform: uppercase;
}

span {
  color: #28c7fa;
}

.header-projects p {
  font-family: "Source Code Pro", monospace;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

.projects {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 400px 400px;
  grid-gap: 100px;
}

.project {
  background: #f3f3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-decoration: none;
  font-family: sans-serif;
  overflow: hidden;
}

.project-img {
  grid-column: 1/2;
  grid-row: 1/2;
  transition: 3s;
}

.project-overlay {
  z-index: 1;
  position: relative;
  background: rgba(31, 30, 30, 0.6);
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.project:hover .project-img {
  transform: scale(1.4) rotate(5deg);
}

.project:hover .project-overlay {
  opacity: 3;
  pointer-events: all;
}

.loading {
  width: 30px;
  height: 30px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-left-color: #fff;
  animation: loading 1s 0s infinite linear;
}

@-webkit-keyframes loading {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  100% {
    transform: rotate(1turn);
  }
}