html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

/* img {
  max-width: 100%;
  height: auto;
}

img {
  width: 100%;
} */

body {
  font-size: 14px;
}

#main-header {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(15, 32, 39),
    rgb(32, 58, 67),
    rgb(44, 83, 100)
  );
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
